.container {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
.row:first-child {
    width: 80%;
  }
  
  .row:last-child {
    width: 20%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
.heading-color {
    padding-top: 20px;
    color: white;
}

.scrolling-wrapper {
    padding: 10px 50px 10px 50px;
    height: 450px;
    white-space: nowrap;
}
.card {
    margin: 20px 20px 100px 0px;
    display: inline-block;
    height: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.actor-section {
    padding: 10px;
}
.actor-name {
    color: white;
    font-size: 20px;
}

.actor-character {
    color: white;

}
/* Sidebar section */
.sidebar-section{
    padding: 50px 0px 0px 20px;
}
.language,.status,.budget,.revenue{
    padding-bottom: 20px;
}
.status-title,.language-title,.budget-title,.revenue-title{
    color: white;
    text-decoration: solid;
}
.status-detail,.language-detail,.budget-detail,.revenue-detail{
    color: white;
}
/* Media queries */
@media (max-width: 768px) {
    .container {
        height: 850px;
      }
    .row {
        flex-direction: row;
    }
    .row:first-child {
        width: 100%;
      }
      
      .row:last-child {
        width: 100%;
        margin-top: 20px;
      }
      
      .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
      }
  }