.video_modal {
//   border: 1px solid red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
//   opacity: .9;
  z-index: 1000;
  display: flex;
  align-items: center;

}
.modal_action_list{
    display: flex;
    justify-content: flex-start;
    gap: 13px;
}
.modal_action_list>div{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.modal_action_list>div>h1{
    font-size: 16px;
    margin-top: 7px;

    
}
.hide {
  display: none;
}

.close_btn{
    position:absolute;
    top: 0;
    right: 0;
}
.close_btn {
    position: absolute;
    top: 2%;
    right: 1%;
    z-index: 1;
    display: inline-flex;
    padding: 8px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
    margin-bottom: 0.8em;
    background: black;
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease-out;
    outline: none;

    &:hover {
      background: white;
      color: black;
    }
  }
.video_modal_content{
    // border:1px solid red;
    width: 70%;
    position: relative;
    margin: auto auto;
    z-index: 100;
    height: 100vh;
    overflow-y: auto;
    background-color: black;
    padding-bottom: 1.5rem;
    

}
.video_modal_content>img{
    object-fit: fill;
    z-index: 100;
}

.video_modal_inner_content{
    padding-left: 2rem;
    padding-right: 2rem;
}
.video_modal_inner_content>p{
    margin-top: 1rem;
}

// .video_modal_content:before{

// content:"";
// position: absolute;
// background-repeat: no-repeat;
// // z-index: 1;
// width: 100%;
// height:100%;
// background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm4XuouRkaaJN-HPEtniavfRnz_xdgI5wsJCpQ1YXibg&s");
// object-fit: cover;
// }